@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    font-size: 14px;
}

body {
    margin: 0;
    font-family: 'Jost', sans-serif;
}


/* umumiy stillar */
.container {
    max-width: 1111px;
    margin: 0 auto;
}
.burger{
    display: none;
}

/* header */

.main-header {
    padding: 64px 0;
}

.main-nav a {
    text-decoration: none;
    color: #333136;
    font-size: 1rem;
    letter-spacing: 2px;
    position: relative;
}

.main-nav a:not(:last-child) {
    margin-right: 20px;
}

.main-nav-link::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #333136;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}

.main-nav-link:hover:after {
    transform: scaleX(1);
}

/* first-section */



.main-article {
    background-image: url(../img/bgfirst.jpg);
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 160px;
    position: relative;
    z-index: 2;
}

.first-section::after {
    content: '';
    width: 1006px;
    height: 594px;
    position: absolute;
    background-position: left;
    background-image: url(../img/bg1.png);
    background-repeat: no-repeat;

    bottom: -400px;
    left: -95px;
    z-index: 1;
}

.first-text {
    padding-top: 145px;
    padding-left: 95px;
}

.first-theme {
    color: #FFFFFF;
    font-size: 3.42rem;
    line-height: 3.42rem;
    width: 540px;
    margin-bottom: 20px;
}

.texts {
    color: white;
    font-size: 1.14rem;
    line-height: 1.85rem;
    width: 445px;
    margin-bottom: 40px;
}

.link {
    text-decoration: none;
    color: #333136;
    font-size: 1.07rem;
    font-weight: 500;
    letter-spacing: 1px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 16px 25px;
    transition: all 500ms ease-in-out;
}

.link:hover {
    background: #FFAD9B;
    color: white;
}


.phone-img {
    margin-top: 140px;
    margin-right: 100px;
}

/* design-cards */
.design-cards {
    margin-bottom: 160px;
    position: relative;
    z-index: 2;
}


.design {
    position: relative;
    margin-bottom: 24px;
    transition: all 500ms ease-in-out;
}

.design:hover::before {
    display: block;
}

.laptoop::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: -7px;
    border-radius: 10px;
    height: 640px;
    background-color: rgba(255, 173, 155, 0.8);
    display: none;
}

.right-side::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: -7px;
    height: 308px;
    border-radius: 10px;
    background-color: rgba(255, 173, 155, 0.8);
    display: none;
}

.design-name {
    color: white;
    font-size: 2.85rem;
    font-weight: 500;
    letter-spacing: 2px;

}

.design-page {
    color: white;
    font-size: 1.07rem;
    font-weight: 500;
    letter-spacing: 5px;

}

.design-text {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}

/* characters */
.characters {
    text-align: center;
    margin-bottom: 160px;


}




.characters-theme {
    color: #333136;
    font-size: 1.42rem;
    font-weight: 500;
    letter-spacing: 5px;
    margin-top: 48px;
    margin-bottom: 32px;
}

.characters-page {
    color: #333136;
    font-size: 1.14rem;
    line-height: 1.85rem;
    width: 350px;
}

/* about project */

.about-project {
    background-image: url(../img/Group\ 28.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px;
    position: relative;
}

.talk {
    padding: 72px 0 72px 95px;
}

.project-theme {
    color: white;
    font-size: 2.85rem;
    font-weight: 500;
    width: 268px;
}

.project-page {
    color: white;
    font-size: 1.14rem;
    line-height: 1.85rem;
    width: 459px;
}

.about-project .row {
    align-items: center;
}

/* main-footer */

.main-footer {
    background: #1D1C1E;
    margin-top: -100px;
    padding-top: 160px;
    padding-bottom: 72px;
}

.row2 {
    display: flex;
}

.main-footer .main-nav a {
    color: white;
}

.address {
    width: 350px;
}

.address a {
    text-decoration: none;
    color: white;
    font-size: 1.14rem;
    opacity: 0.5;

}

.bold {
    font-weight: 700;
}

.sayts {
    text-align: right;
}

.sayts a {
    text-decoration: none;
    font-size: 1.71rem;
    margin-right: 15px;
    color: #E7816B;
}

.sayts a:hover {
    color: #FFAD9B;

}

hr {
    background-color: white;
    opacity: 0.1;
    margin-top: 40px;
}

.main-footer .end {
    align-items: flex-end;
    padding-top: 72px;
}

/* ------------------
    PAGE 2
 ---------------- */

/* about-us */

.about-us {
    background-image: url(../img/page2\ firstbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    margin-bottom: 160px;
}

.about-text {
    margin-left: 95px;
    margin-top: 100px;
}

.about-theme {
    color: #FFFFFF;
    font-size: 3.42rem;
    line-height: 3.42rem;
    width: 540px;
    margin-bottom: 32px;
}

.about-page {
    color: white;
    font-size: 1.14rem;
    line-height: 1.85rem;
    width: 458px;
}



.workers img {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* talent */

.talent {
    margin-bottom: 160px;
    background-image: url(../img/bgsecond.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.girl img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.girl{

    z-index: 2;
}
 .talent .talent-text {
    padding-left: 170px;
}

.talent .talent-theme {
    color: #E7816B;
    font-size: 2.85rem;
    font-weight: 500;
    padding-top: 100px;

}

.black {
    color: #333136;
    padding-top: 24px;
}

/* location */

.location {
    text-align: center;
    margin-bottom: 160px;
}

.country {
    color: #333136;
    font-size: 1.42rem;
    font-weight: 500;
    letter-spacing: 5px;
    margin-top: 48px;
    margin-bottom: 32px;
}

.lokatsiya {
    text-decoration: none;
    color: white;
    background: #E7816B;
    border-radius: 8px;
    font-size: 1.07rem;
    font-weight: 500;
    padding: 16px 18px;
    transition: all 500ms ease-in-out;
}

.lokatsiya:hover {
    background: #FFAD9B;
    color: white;
}

/* deal */

.deal {
    margin-bottom: 160px;
    background-image: url(../img/thirdbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.picture {
    margin-left: -25px;
}
.deal .talent-text{
    padding-left: 95px;
}
.deal .talent-theme{
    padding-top: 100px;
    color: #E7816B;
    font-size: 2.85rem;
    font-weight: 500;
}


.picture img {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}


/* ----------------
    PAGE3
 ------------- */

/* locatsions */
.locatsions {
    margin-bottom: 32px;
}

.locatsions:nth-child(4) {
    margin-bottom: 160px;
}

.karta {
    background-image: url(../img/page3\ bg.png);
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 100px 95px;
}
.karta .talent-theme{
    color: #E7816B;
    font-size: 2.85rem;
    font-weight: 500;
    }



.karta .row2 {
    align-items: flex-end;
}

.central-office {
    color: #333136;
    font-size: 1.14rem;
    font-weight: 700;
    display: inline-block;
    margin-bottom: -30px;
}

.karta a {
    display: block;
    text-decoration: none;
    color: #333136;
    font-size: 1.14rem;
}

.office {
    margin-right: 80px;
}

/* PAGE4 */

/* contact us */

.contact-us {
    background-image: url(../img/page2\ firstbg.png);
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-bottom: 160px;
}
.contact-us .about-text {
    margin-left: 95px;
    padding-top: 30px;
}
.error{
    visibility: hidden;
    display: block;
    color: white;
    margin-left: 230px;
}
.for-focus:focus~.focus{
    visibility: visible;
}
.for-focus2:focus~.focus1{
    visibility: visible;
}
.for-focus3:focus~.focus2{
    visibility: visible;
}
form {
    margin-top: 90px;
    margin-right: 92px;
}

.info {
    display: block;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    width: 380px;
}


.info:hover {
    border-bottom: 3px solid white;
}

::placeholder {
    color: white;
    opacity: 0.5;
    font-size: 1.07rem;
    font-weight: 500;
}

input:hover::placeholder {
    opacity: 1;
}

form .info:focus {
    outline: none;
}

.but {
    text-align: right;
    display: block;
    margin-bottom: 24px;
    margin-right: 92px;
}

.submit:hover {
    background: #FFAD9B;
    color: white;
}

.submit {
    color: #333136;
    font-size: 1.07rem;
    font-weight: 500;
    padding: 17px 47px;
    border: none;
    border-radius: 8px;
    background: white;
    transition: all 500ms ease-in-out;

}

.last-footer {
    margin-top: 160px;
    padding-top: 70px;
}